<%- include('layout/dashboard-header') %>

<div class="title"><%= greeting %></div>

<!-- Alertas recentes -->
<!-- Alerts sent today -->
<!-- Timeline success: Bar with lines green (success) / red (error) -->
<!-- Alerts sent this week -->
<!-- Alerts send this month -->
<!-- Each search stats -->

<p>No futuro, esta página irá apresentar estatisticas relacionadas com os alertas, porém ainda está em desenvolvimento. Volta em breve!</p>

<img src="/img/mint.jpg" alt="mint" style="width: 300px; align-self: center; border-radius: 10px; border: 20px solid #fff; border-bottom-width: 80px; transform: rotate(-10deg) scale(.8)">

<%- include('layout/dashboard-footer') %>