body {
  display: flex;
  flex-direction: column;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px 25px;
  border-bottom: 1px solid var(--color-2);
}
body header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
}
body header .logo .icon {
  width: 1.5em;
  height: 1.5em;
  background-image: url("/img/icon.png");
  background-size: cover;
  background-position: center;
  border-radius: 5000px;
}
body .no-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  font-size: 1.5em;
  color: var(--color-5);
}
body .cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 15px;
}
body .card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border: 1px solid var(--color-2);
  border-radius: 10px;
}
body .card .title {
  font-size: 1.5em;
  font-weight: bold;
}
body .card .subtitle {
  font-size: 0.7em;
  color: var(--color-5);
  font-family: "Space Mono", monospace;
}
body .card .text {
  margin-bottom: 5px;
}
body .card .info {
  display: flex;
  align-items: center;
  gap: 5px;
}
body .card .info svg {
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
}
body .card .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5px;
}
body .container {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}
body .container nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid var(--color-2);
  padding: 10px;
  width: 200px;
  flex-shrink: 0;
}
body .container nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--color-0);
}
body .container nav a.active {
  border-color: var(--color-2);
}
body .container nav a:hover {
  background-color: var(--color-1);
}
body .container nav .space {
  flex-grow: 1;
}
body .container main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  padding: 15px;
  overflow: auto;
}
body .container main > .title, body .container main .title-bar > .title {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 2em;
}
body .container main > .title svg, body .container main .title-bar > .title svg {
  width: 1em;
  height: 1em;
}
body .container main .title-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
body .container main .title-bar .actions {
  display: flex;
  gap: 5px;
}
body .container main .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0;
  max-width: 600px;
  width: 100%;
  align-self: center;
}
body .modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5333333333);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body .modal-container.off {
  opacity: 0;
  pointer-events: none;
}
body .modal-container .modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  max-width: calc(100% - 100px);
  background-color: var(--color-0);
  border: 1px solid var(--color-2);
  border-radius: 10px;
}
body .modal-container .modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
body .modal-container .modal .header .title {
  font-weight: bold;
  font-size: 1.5em;
}
body .modal-container .modal .header .close-btn svg {
  color: var(--color-8);
  width: 1em;
  height: 1em;
}
body .modal-container .modal .body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .modal-container .modal .body .input-group input {
  margin: 0 -5px;
}
body .modal-container .modal .footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;
}
body .modal-container.off .modal {
  transform: scale(0.8);
}

@media (max-width: 700px) {
  body header {
    padding: 10px 15px;
  }
  body header .logo .icon {
    width: 1.2em;
    height: 1.2em;
  }
  body .container {
    flex-direction: column-reverse;
  }
  body .container nav {
    width: unset;
    flex-direction: row;
    overflow: auto;
    border-top: 1px solid var(--color-2);
    border-right: none;
    justify-content: space-around;
  }
  body .container nav a {
    gap: 5px;
    flex-direction: column;
    flex: 1 1 0;
    font-size: 0.8em;
    color: var(--color-a);
  }
  body .container nav a svg {
    width: 2.2em;
    height: 2.2em;
    color: var(--color-f);
  }
}
