body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  border-radius: 25px;
}
.container .code {
  font-weight: bold;
  font-size: 10em;
}
.container .message {
  color: var(--color-a);
  font-size: 2em;
}
.container a {
  margin-top: 15px;
}
