.content {
  background-color: var(--color-1);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-2);
  gap: 0 !important;
  max-width: unset !important;
  width: calc(100% - 22px) !important;
}
.content .log {
  font-family: "Space Mono", monospace;
  color: var(--color-d);
}
.content .log svg {
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  margin-right: 5px;
}
.content .log div {
  display: inline;
}
.content .log.info-log svg {
  color: #0af;
}
.content .log.info-log .source {
  color: var(--color-8);
}
.content .log.warn-log svg {
  color: #fa0;
}
.content .log.warn-log .source {
  color: #fa0;
}
.content .log.error-log svg {
  color: #f00;
}
.content .log.error-log .source {
  color: #f00;
}
.content .loading {
  padding-top: 10px;
}
